.logoSylvain {
  width: 20% !important; /* Taille initiale du logoSylvain pour les grands écrans */
}

.logoAds{
  width: 2% !important;
}

.title {
  font-size: 50px !important; /* Taille initiale du title pour les grands écrans */
  font-family: 'Titillium Web', sans-serif !important;
}

.slogan {
  font-size: 20px !important; /* Taille initiale du title pour les grands écrans */
  font-family: 'Titillium Web', sans-serif !important;
}


@media (max-width: 575.98px) {
  .logoSylvain {
    width: 40% !important; /* Ajustez la taille du logoSylvain pour les très petits écrans */
  }

  .title {
    font-size: 35px !important; /* Ajustez la taille du title pour les très petits écrans */
  }

  .slogan {
    font-size: 20px !important; /* Taille initiale du title pour les grands écrans */
    font-family: 'Titillium Web', sans-serif !important;
  }
}

/* Nouvelle règle pour les écrans jusqu'à 399px */
@media (max-width: 399px) {
  .logoSylvain {
    width: 50% !important; /* Potentiellement augmentez la taille du logoSylvain pour les écrans extrêmement petits */
  }

  .title {
    font-size: 25px !important; /* Réduisez significativement la taille du title pour les écrans extrêmement petits */
  }
  .slogan {
    font-size: 15px !important; /* Taille initiale du title pour les grands écrans */
    font-family: 'Titillium Web', sans-serif !important;
  }
  .logoAds{
    width: 5% !important;
  }
  
}

/* Petits écrans (téléphones mobiles en mode paysage, 576px et plus) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .logoSylvain {
    width: 35% !important; /* Ajustez la taille du logoSylvain pour les petits écrans */
  }

  .title {
    font-size: 22px !important; /* Ajustez la taille du title pour les petits écrans */
  }
  .slogan {
    font-size: 17px !important; /* Taille initiale du title pour les grands écrans */
    font-family: 'Titillium Web', sans-serif !important;
  }
}

/* Écrans moyens (tablettes, 768px et plus) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .logoSylvain {
    width: 30% !important; /* Ajustez la taille du logoSylvain pour les écrans moyens */
  }

  .title {
    font-size: 24px !important; /* Ajustez la taille du title pour les écrans moyens */
  }

  .slogan {
    font-size: 20px !important; /* Taille initiale du title pour les grands écrans */
    font-family: 'Titillium Web', sans-serif !important;
  }
}

/* Grands écrans (ordinateurs de bureau, 992px et plus) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .logoSylvain {
    width: 25% !important; /* Ajustez la taille du logoSylvain pour les grands écrans */
  }

  .title {
    font-size: 40px !important; /* Ajustez la taille du title pour les grands écrans */
  }
  .slogan {
    font-size: 20px !important; /* Taille initiale du title pour les grands écrans */
    font-family: 'Titillium Web', sans-serif !important;
  }
}

/* Très grands écrans (grands ordinateurs de bureau, 1200px et plus) */
@media (min-width: 1200px) {
  .logoSylvain {
    width: 20% !important; /* Retour à la taille initiale pour les très grands écrans */
  }

  .title {
    font-size: 50px !important; /* Retour à la taille initiale du title pour les très grands écrans */
  }
}

/* END css for export */